.header {
  /* border: 1px solid red; */
  width: 100%;
  height: 80px;
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.header__title {
  /* font-family: Inter; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

.home-link {
  color: rgba(0, 0, 0, 0.85);
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 109px;
  height: 51px;
  /* font-family: Inter; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  border-radius: 5px;
  cursor: pointer;

  
}

.btn:nth-child(1) {
  margin-right: 20px;
}

.header__signin {
  background: transparent;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  border: 1px solid #ffffff;
  
}

/* .header__signin:hover {
  border: 1px solid #ececec;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.85);
} */


.header__signup {
  background: transparent;
  border: 1px solid #52C41A;
  text-align: center;
  color: #52C41A;
}

/* .header__signup:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  color: #52C41A;
} */

.btn-create-article {
  width: 112px;
  height: 31px;
  border: 1px solid hsl(100, 77%, 44%);
  border-radius: 5px;
  background-color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #52C41A;
}

.btn-logout {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.75);
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 27px;
  margin-right: 27px;
}

.user-name-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  margin-right: 13px;
}

.user-name img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.btn-my-articles {
  width: 112px;
  height: 31px;
  border: 1px solid #1890FF;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1890FF;
}




