.pagination {
  width: 320px;
  margin: 27px auto;
  text-align: center;
}

.ant-pagination-item {
  background-color: #1890ff;
}

.ant-pagination-item-active {
  font-weight: 500;
  background: #1890ff;
  border-color: #1890ff;
}
.ant-pagination-item-active a {
  color: #ffffff;
}

.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: #40a9ff;
}

.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: #ffffff;
}

.articles-list {
  padding-bottom: 35px;
}

