.card {
  display: flex;
  flex-direction: column;
}

.classErrorMessage {
  width: 420px;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-body-title {
  color: #4e4e4e;
  font-family: Roboto, sans-serif;
}

.card-body-text {
  color: #4e4e4e;
  font-size: 22px;
}

.btn-err {
  background: #fcc735;
  padding: 10px 20px;
  border: 1px solid #fcc735;
  text-align: center;
  color: #333333;
  border-radius: 4px;
}

.btn-err:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  color: #333333;
}

.card-screen {
  width: 100%;
  height: 100%;
  padding: 25px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: white;
  z-index: 100;
}

.shadow1 {
  z-index: 1;
  width: 200px;
  height: 30px;
  position: absolute;
  left: 8px;
  bottom: 5px;
  box-shadow: -7px 12px 15px rgba(0, 0, 0, 0.35);
  transform: rotate(-3deg);
}

.shadow2 {
  z-index: 1;
  width: 200px;
  height: 30px;
  position: absolute;
  right: 8px;
  bottom: 5px;
  box-shadow: 7px 12px 15px rgba(0, 0, 0, 0.35);
  transform: rotate(3deg);
}